C:/Licenta/traffic-surveillance/build/* filter=lfs diff=lfs merge=lfs -text
C:/Licenta/traffic-surveillance/dist/* filter=lfs diff=lfs merge=lfs -text
dev_setup/exe_gen_extra_files/ultralytics/* filter=lfs diff=lfs merge=lfs -text
